# dependencies
node_modules

# misc
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

.cache

# build
modules/**/dist
modules/**/ts-tmp
modules/**/ts3.5
build/*
*.tsbuildinfo

# intellij
.idea
junit.xml

# vscode
.vscode

# docs
docs

# cypress
cypress/videos
