language: node_js

node_js:
  - "10"

# if using Ubuntu 16 need this library
# https://github.com/cypress-io/cypress-documentation/pull/1647
addons:
  apt:
    packages:
    - libgconf-2-4

# cache both yarn and Cypress binary
cache:
  yarn: true
  directories:
    - ~/.cache

git:
  depth: false

stages:
- name: pull_request
  if: type = pull_request

- name: master
  if: branch = master AND type != pull_request

- name: tag
  if: branch =~ /^v\d+\.\d+(\.\d+)?(-\S*)?$/ AND tag IS present

before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.15.2
  - export PATH="$HOME/.yarn/bin:$PATH"

install:
  - yarn install --production=false

jobs:
  include:
  - stage: pull_request
    script:
      - yarn lint
      - yarn depcheck
      - yarn test
      - yarn chromatic --exit-zero-on-changes --app-code="ro4ew4rqdrl"
      - yarn start & npx wait-on http://localhost:9001
      - yarn cypress run --record
      - kill $(jobs -p) || true
    env:
      # Travis doesn't support encryption on forks: https://docs.travis-ci.com/user/pull-requests#pull-requests-and-security-restrictions
      # If these keys become compromised, we will rotate and disable these features
      # on forked PRs until a suitable workaround is found
      - CHROMATIC_APP_CODE="m1dh5kc7oj"
      - CYPRESS_RECORD_KEY="3a9347b6-36ab-4a36-823d-709f4078b148"

  - stage: tag
    script:
      - yarn build
    deploy:
      provider: script
      script: npm config set //registry.npmjs.org/:_authToken=$NPM_PUBLISH_TOKEN && yarn lerna publish from-package --yes --pre-dist-tag prerelease
      skip_cleanup: true
      on:
        tags: true

  - stage: master
    script:
      - yarn chromatic --auto-accept-changes --app-code="ro4ew4rqdrl" # v1
      - yarn build-storybook
      - yarn build
    deploy:
      - provider: script
        script: npm config set //registry.npmjs.org/:_authToken=$NPM_PUBLISH_TOKEN && node utils/publish-canary.js $SLACK_WEBHOOK $TRAVIS_BUILD_WEB_URL
        skip_cleanup: true
        on:
          branch: master
      - provider: pages
        skip_cleanup: true
        local_dir: docs
        github_token: "$GH_STORYBOOK_TOKEN"
        on:
          branch: master

env:
  global:
  - secure: 2mf5LOhqAmYsMKOoVK+4F9Yym0Y7CvrgyHZcSMsezFB/8PowxdPKDfHuwV8I5DsRQuFzv1G9xmdlrV7qWKf48bJwyFRXulAdzsElrkrXDVhW3nmzt/vpqSA/YJWqB1gsBolp1dOrC0dblNTNzCxHPHgl0y8x8A6ZpT4oUY14iVO+olg5hkD6Yx+M17+Oe1q5r7GUF5auFazZr3BeyJ5oxdIIUVeZRitJU0KxScaZmBv/pwfCKrmrfGk/GSt11WJgTA5pRG+HQZ253uy/Oxsh4JKJXCoeEp1taSnxzJpVeA9iq3Ywj+C64sAqS4NVM/wtLFxDz7RZ3w+B6MbdnAYWarYotuNWtpduiHp9rzfOhYr1DmD9uxCQ+bnt0pwfLY010wsXwnBljxTvVvUwEvMRVTgwzSDwQIbhepb3Br+KduRIZOLAa/mbk6uFQOBJrDfkcug5xZUcoNii2WMtGxdq4gRZ4mWXjiXNOKgm27zu+IRM09z9aUbRTCVsNp8TP23GnhMMdoEhxZECWwHrwT6+QrLeih9tkA7YYlPrjaA33+vajSDzNyLWBxvk7JPIwDZiaObSWOh2XD3XBSnLHN/Pt0udrWxW7Zdtumg/u2zvWRhaQCIPN8fdgYMTEYQ4a1U+hR3gKl6DhF1mgkVqo1Q98g4lY+JMaS8/HG+YCmY5HzI=
  - secure: CgjEbYaMt8j0xsAnmj2k3zJlIgWEbRpYRdfFA3dXaXYTDKtxIY/Ql/i9qOACZ7v2W2W1TQ+b8CwYc7pXvlP3/ih9o3xykAHRkfT/skTfqAvC+6IRKZVF/oeEMVoOEloXg5wpW/jqScN0pMCm1Rs/1hJOp9XBS1TweS0XU54yA9vfLs8Bm8KP9afXYg2FdtHjfkpMoWrX102GB+JQiMwaOvmX9x5Avcg6l7TJbnC+cqjvc0eLqB4tdF7b+dtBaWvdUYle7liuB5YNQlR/24MeimgXN4fWZfc35OjEo0vLArIlUwvV1pg9n0rzOExzaxpQ3l2eNGHC5JgyTdjDV3eH9Fsy1cVRiiXSqrF/84vWnWiFJzRM8mdhHteLe9bM/WdEzPURD/oZZbupWp5JHkUtvK3whvAlHCKhNjsiwY8AxM3hOr+Gy3ObUk+y7oyHhWhddYoAFXxKUq/d7MXdjnz2aOgoI8IkP+Vu2YZSbooOBi0lnZF1ZtlSsIo4r7I4p1j4ZLmoRxq0cNfNf15Fvl3pPzcckJmeI388rP79qvjiBFbv2OgCu4NcibWPIyOgOgwjNHZ6tULxyoSi7ZKrUWTmhzhkT2s95HRYxknci7Yf/N6hxsHbu6qmpDIDszit1xjhbtZmP2QZDbjGPE/3wMU/h3/1msCK20V6xwqkjNRku2k=
  - secure: Kj4P29f+O5DDUfm8KdSS6B6M/74QzTFiIt8s7FApJe0VyXuQ3WsX5M7O7Uq5pomBRrcOaxUMtCPYNwYMXHVoXuXp1CsFnIoaOf2xlz060bfM7ugfvByR/BjTUPSVlL7ftJhh9q2UymQ/1GyGTAUwMNoxKsBdinrsGuAlIag5PbJhnlks7tavurRjk2p06AiJYxrly1s4BaSm2fW5uTdSA68w2A8omINJvhPhPOFswOs1KHeJ1s9shx1X2/qE8FocywnByIblQaGzTb6ZVAsdjOMrXCYnPcTj9HmX2ZRBpn1Thnzob6cNe9Jfdg9q80LVn/hea0InSYJJYCHZwrS3Mp6xQU4IY+IlABNnIF1nlkua0P6AwnZqWbNRT/+Atf1zYD9ziUB8z287vvVT346nwVW0pO3ZsHvBW0DVnORM3sx50/zTvpWrcg86Gi4HB8opvqc6GsXZfWbOKm7Nw9X7B61iRptQ30Jg2V0Pg3EB93c5tv1V/ZbTDhVoGJj6FBRr10lQN1ZtlSAret1NV8DaqGFvxP5vTlnZrS92YAmLQy9mO/5hRrrJN7hM0tonZU/IFRME2ZlnC7EALOXmBKaXB8KGAqBIX7hG6yhksRJKCSkJi9L8O0a871c+WMU6iPyX2uyizN4OtTB/ahCppMnxxMotpy68l7ElzSjU0/+ls2Y=
  - secure: edPF7AX/0Z8RkOgsfIyX8KuaW0pKBqOLXjTH7MfCTFyrihPkSldqvSaqudb3q4DwWv8S/r7BXUMT0UYu+WOn3Kl86TrlZbMC+0b0cBLOE0IrNcnXvq/JyLa1E/VANOqYPvs5r07xqIKfO6Myo1pg+xhIX/8TtAEBKuoA6/KlDh6sVjPM1mOdxiMozR+BHSkGx6n+Hgv071vZb7th+k+CKwThVjHMATBGqktr5JlPsjVqNuQRyjJ40DFL3lBiUSvcWH8j2ZW1klFN1SaHmBw9iaKzi9xsM7Rrf2/f9PQpJJE1iAfsh2RwcVmvOI1Hm17PbCV9QCc6HpSBxFUTCx3oEDyjTz+dmaBN5VsQiRuukaaxvNonqhb88+lbgrcE5yVl1io5DoSReNNwTe6oshZS6nI/WwQarkS0dABDPzCK0/nRrvzrl0QglkSeSszSHb2mRxEn8V4KAEnxBWbaaoTc7ak0zps/AJTwOvrHKcb+V01/Hwn10hiMhmv4KtOMPsftZTW4cTLLKa8Y8UYay4My2Ho9cWdbSn+KpQ5QA1I4dEXA1DWuuzH9JYwpeH6sqB7hbob90S1wc9xJpLokgiwn6eKzwHjQd9RTQ4YftVlN2MHaCKdzUKancmYXRRS+21YqzrE9UK3pIwBYW+tA0AJ6+VOfm1mgOnTql0RPnUD78Fs=
