language: node_js
node_js: 8
cache:
  yarn: true
git:
  depth: 3
branches:
  except:
  - gh-pages
stages:
  - name: storybook
    if: branch = master AND type != pull_request
  - name: pr-previews
    if: "(branch = master AND type = pull_request) OR branch != master OR NOT branch =~ /^release-.+$/"
  - name: npm publish
    if: branch =~ /^release-.+$/ AND type != pull_request
before_install:
  - npm config set //registry.npmjs.org/:_authToken=$NPM_TOKEN
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.15.2
  - export PATH="$HOME/.yarn/bin:$PATH"
install:
  - yarn install --production=false
  - yarn lint
  - yarn build
  - yarn test
jobs:
  include:
    - stage: storybook
      script:
      - yarn build-storybook
      deploy:
        provider: pages
        skip_cleanup: true
        local_dir: docs
        github_token: "$GH_STORYBOOK_TOKEN"
        on:
          branch: master
    - stage: pr previews
      script: echo "TODO"
    - stage: npm publish
      script:
      - "./utils/travis/getGit.sh"
env:
  global:
  - secure: JZmvmwC3FY+wBnn8zuxgNTyx4suWI9NmGFyK5LQFoU0/HaZ2qvOxzckqDrsAvkljg/myt1YyHPT53BrSEwBQSDROMojC6fMyYPGx8mNYq1mEhsw+xGKPda85tsToFgJMqLF79mqF+frjPA5WU5mzFwkDZHLkRCK7srlaskAVlrxJXFKCywAPdrQy1UDksc7+2nNmVgY+HfpBh14h4v5a2Xw5NUEsIUcyQjaLt7NW2BTZ0f+DkjoSzqAumFtO1vXT3W7mfLnpiyDRkGZrG1zV34bWEFiMDAIQarTZ5KBi+vmXQ/6JNmWABYJhGt02VSwdQwjJUAVQweXI7SisOt1wQ9Sciwsk3SbVAywI45ljTSJY43A+9ZoRc6qOK4Vbz3/pVjwXqCDBdxcgKw9isk7qrTt5U5hFXH+USPldsLUXa4x9V9cfzrbstRfo25uKF9mIesFQNQSoqjPcezyZND9nxKUW9optLkFW5StDDGokuvp0P/TD8B8kmBpljw5K0N7LrQWNLdZ1i8Kn43A2BMie5TEFHnua32m6B5Brc/BaztKxgvmqETzJu7d93TBSf0p7G4dXHaoQLnjgXCy/qpktvzWot7iMDWwBYkeHBtp/4a0lyUUM3Vnmn6j3CoIvrgOhE4+zmrGHiRrL8aPUlMqwI74haDIpq97dw6kfiqt5QNw=
  - secure: d9ZfQBSo1ZxNjY+tDqvP9KtFb55+pmSsKfqwtAAYmN76iL2RKVLcJuubwsEN71Kvq76Qy0onXWzfLNkWY2+YwaHvSRkBCBaMbpHBB4b1aI+zUgJX5GUDAdcbyui2jpTTsekiH39ojSVlFqoTqammwPSZp3ZTQolQ7yRAvVAGfUEJTUfy7Jy4QZN2D1kIbjhNvFC1RcFiejhQVeAf/AD8lmo9b6ScyyCrvIjfi7JcHyWteVBMeWCGHywWV/UYLg06ZQT4lJrVzRDKstMuiZQv2AztvycghnhsgPXlvzZTKpf3G4WbmyPrMsAerXD/kLsETS5BV7lN3FWCzLOidNruVgnv/5K+qx2GW709xP83IE5gHOmUcLpr2iyJi634Jt39+XaAZmM1eOaAYmWJH6g5Wl/BMxqNfMPHqOKgrcOjoEh0B7svejtx+sEGG06FB2emeJGMqHH1Or1m1SRSzBw0/ApFj9BuqYr/lSBzLAnEKdgraSTeJ3LAF+ca0z5mNRZOBt3/5gf+Fj8vGJgKGxNhmZ0J0+S8ipYJJ46pCwplj9qVYaNj4gpY/DC5pdcDQxTZInyI3mlgNFbJu5oR9n0JKRGE6BfwpZE7la9YvqGjfaM2VcUDiqNCjiglLKuSP7TPSm9wXOrC78Qm+94MKCVIHWfF/D26AvDPUHg0hqiGZmA=
  - secure: k0sirDXLNOsjEYXfbcA7BFZbhyI4hgKaxuP5pRxbgqN0K+DwtPHfKoA6LpAf1XoI6bSDsSOhIsc85yPj5hAxDqttSamF+uR8Oc4dPiVyFA/7T6Rjr+idl8KMgE8jhkRE1Q1kiLNVkL6AfjyVVOiu7bQc8XXAAaNG7iz0/UCRsNpxWHg7Ukldycin+uS/8fr6ICNIxPzlUUHcEOGNlXg+P/wd+225Deg1vYrKs7BB8ZSpeBzeaDUSBdcA5MRuKX6iIuYzRhytsGNcgBPK54B5/qaplKMnzD+4/t5Ki6XTepXdF6RVr/x0xeLXouoOezLGGvWMYfIuXqhduJU75YxfQSHP5dq5ICqRMtZFMR+CV8OToUGMa/C+Yb/qPviR/n3jrlVU4bdNiKxotFWcDyMHXVKY104Gp3dhiYvWBBD8zkUIOwDkG1XrnLiHaFjZAAxhZ9HJ0l2oV+GXWxSslhfXevh/pxecu58/wF6kPx7+nHT3yMOvAZ3yn8ji/VUGdeYViFHnbsJ15Cbvi/GIBkUItlecydTEZIfKdcnvcT7Yk0utUV84J57n52V29GK18vYlhHi8vgeEnwXzc1JJFREHKSSTJXIhwJ4cNO/eFADRygHDof/rmmQEAmXkMRYcPGZ5OFYMuDBd/1W7/PjHdFtZkjt2cSQHCMopIC+jv5UC4ME=
  - secure: VJl7aOS/oO/TmZpwmyuVFvKfrgaRVlqUgB2MQcbfqT1ezie5hZNY1H5YjcYps2tVG/oyQ+GW10Bwp6IYB1+rPj+PSG7uvzSfm9NVfNF5/LxLpqgkq7/wlqKiqEj7zfFuDmcCyUekQ/GTVV/QcYJvgh1Cj/QZMuXWTN6pWpTdydl6VZeEAAj/Uvdnkj/7lpZKyJ4bl4/nXmhoEvx/H3t6PoZnGLJQtGFMg7pHFklzBC3xyA4hILtpkTFjyg3DKIiIoq6AfIWN6RjL/KPXXCAwkOCbwI+QZJ+t00+TIsof79hx0dS9UuEGrjFOieIlbkOLr9ZvwhZmCVDTrn6WqGnEjfJlkqo/g53siGvGgd0TQuvyVoDCL0Q++TSDaRJ7HsIOGczowqrDBwIEnKblNhQeKake8VMajp0yPJKK1siYFc/pRcsAPy+P7dAauPSdS36xYwC1ZRztMl982ev1bn9gOEcGuVySlaDqLzu++WQD6ruYA65jAKymJC9lYmqRHnBJlcZ15QSXw7jYRPTBKEzVYIgsE2U1i9W//9OtSHzCo4IGr6XYxWnwxfV+lof8hBV1QzJBxEp+RLvAPkjumak67UwkuQb4W9tDjGgrc6DMNe9HNGEQ8mMV/KM3j01QGudJds3OXn3PYWtRejRzW6+fchsn5hE0WqeaUehxahMF7po=
