@keyframes animation-eec5d2 {
  from {
    transform: scale(0.85);
  }
  
  to {
    transform: scale(1.0);
  }
  
}

.cnvs-count-badge {
  box-sizing: border-box;
  align-items: center;
  animation: animation-eec5d2 0.2s ease;
  background: var(--cnvs-sys-color-static-red-default);
  border-radius: var(--cnvs-sys-shape-round);
  color: var(--cnvs-sys-color-text-inverse);
  display: inline-flex;
  font-family: var(--cnvs-sys-font-family-default);
  font-size: var(--cnvs-sys-font-size-subtext-medium);
  font-weight: var(--cnvs-sys-font-weight-bold);
  height: 1.25rem;
  justify-content: center;
  line-height: 1.25rem;
  min-width: 1.25rem;
  padding: 0 0.40625rem;
  text-shadow: 0 0 0.0625rem rgba(0,0,0, 0.35);
}


.cnvs-count-badge--variant-inverse {
  background: var(--cnvs-sys-color-bg-default);
  box-shadow: 0 0.0625rem 0.125rem rgba(0,0,0, 0.25);
  color: var(--cnvs-sys-color-text-primary-default);
  text-shadow: none;
}

