.cnvs-list-box-container {
  box-sizing: border-box;
}


.cnvs-list-box-container--orientation-vertical {
  overflow-y: auto;
}


.cnvs-list-box-container--orientation-horizontal {
  overflow-y: undefined;
}


.cnvs-list-box {
  box-sizing: border-box;
  flex-direction: column;
  margin-top: var(--cnvs-sys-space-zero);
  margin-bottom: var(--cnvs-sys-space-zero);
}

