.cnvs-combobox-menu-list {
  box-sizing: border-box;
}


.cnvs-combobox-menu-item-icon {
  box-sizing: border-box;
  align-self: start;
}


.cnvs-combobox-menu-item {
  box-sizing: border-box;
  min-height: var(--cnvs-sys-space-x10);
}

