.cnvs-select-input {
  box-sizing: border-box;
  caret-color: transparent;
  cursor: default;
}

.cnvs-select-input::selection {
  background-color: transparent;
}


.cnvs-select-icons {
  box-sizing: border-box;
  position: absolute;
  pointer-events: none;
}


.cnvs-hidden-select-input {
  box-sizing: border-box;
  position: absolute;
  top: var(--cnvs-sys-space-zero);
  bottom: var(--cnvs-sys-space-zero);
  left: var(--cnvs-sys-space-zero);
  right: var(--cnvs-sys-space-zero);
  opacity: var(--cnvs-sys-opacity-zero);
  cursor: default;
  pointer-events: none;
}


.cnvs-select-card {
  max-height: 18.75rem;
}

