.cnvs-table {
  box-sizing: border-box;
  font-family: var(--cnvs-base-font-family-50);
  font-weight: var(--cnvs-base-font-weight-400);
  line-height: var(--cnvs-base-line-height-100);
  font-size: var(--cnvs-base-font-size-75);
  letter-spacing: var(--cnvs-base-letter-spacing-150);
  display: grid;
  border: 0.0625rem solid var(--cnvs-sys-color-border-container);
  border-radius: var(--cnvs-sys-shape-x2);
  overflow: auto;
  color: var(--cnvs-sys-color-text-default);
}


.cnvs-table-caption {
  box-sizing: border-box;
  display: flex;
  border-bottom: 0.0625rem solid var(--cnvs-sys-color-border-container);
  padding: var(--cnvs-sys-space-x2) var(--cnvs-sys-space-x4);
}


.cnvs-table-footer {
  box-sizing: border-box;
  display: grid;
}


.cnvs-table-cell {
  box-sizing: border-box;
  display: grid;
  align-items: center;
  background-color: var(--cnvs-sys-color-bg-default);
  border-bottom: 0.0625rem solid var(--cnvs-sys-color-border-divider);
  grid-template-columns: 1fr;
  justify-content: start;
  min-height: 3.5rem;
  padding: var(--cnvs-sys-space-x2) var(--cnvs-sys-space-x4);
  word-break: break-word;
}


.cnvs-table-header {
  box-sizing: border-box;
  display: grid;
  align-items: center;
  background-color: var(--cnvs-sys-color-bg-default);
  border-bottom: 0.0625rem solid var(--cnvs-sys-color-border-divider);
  justify-content: start;
  min-height: calc(var(--cnvs-sys-space-x16) - var(--cnvs-sys-space-x2));
  padding: var(--cnvs-sys-space-x2) var(--cnvs-sys-space-x4);
  word-break: break-word;
  font-weight: var(--cnvs-sys-font-weight-medium);
}


.cnvs-table-row {
  box-sizing: border-box;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(var(--cnvs-children-cell-number), minmax(10rem, 1fr));
}


.cnvs-table-body {
  box-sizing: border-box;
  display: grid;
}

.cnvs-table-body tr:last-of-type td, .cnvs-table-body tr:last-of-type th {
  border-bottom: none;
}

.cnvs-table-body tr:first-of-type td, .cnvs-table-body tr:first-of-type th {
  border-top: none;
}

.cnvs-table-body td:last-of-type {
  border-inline-end: none;
}

.cnvs-table-body td:first-of-type {
  border-inline-start: none;
}

