.cnvs-preview-form-field {
  box-sizing: border-box;
  display: flex;
  border: none;
  padding: var(--cnvs-sys-space-zero);
  margin: var(--cnvs-sys-space-zero) var(--cnvs-sys-space-zero) var(--cnvs-sys-space-x6);
}


.cnvs-preview-form-field--grow {
  width: 100%;
}

.cnvs-preview-form-field--grow [data-width="ck-formfield-width"] {
  width: 100%;
}


.cnvs-preview-form-field--orientation-horizontal {
  flex-direction: row;
  gap: var(--cnvs-sys-space-x8);
}


.cnvs-preview-form-field--orientation-vertical {
  flex-direction: column;
  gap: var(--cnvs-sys-space-x1);
  align-items: flex-start;
}


.cnvs-preview-form-field--required [data-element=asterisk] {
  display: block;
}




.cnvs-preview-form-field-label {
  box-sizing: border-box;
  font-family: var(--cnvs-base-font-family-50);
  font-weight: var(--cnvs-sys-font-weight-medium);
  line-height: var(--cnvs-base-line-height-100);
  font-size: var(--cnvs-base-font-size-75);
  letter-spacing: var(--cnvs-base-letter-spacing-150);
  color: var(--cnvs-sys-color-text-default);
  padding-inline-start: var(--cnvs-sys-space-zero);
  margin-bottom: var(--cnvs-sys-space-x1);
  display: flex;
  align-items: center;
  min-width: 11.25rem;
}

.cnvs-preview-form-field-label :where([data-element=asterisk]) {
  display: none;
  font-size: var(--cnvs-sys-font-size-body-large);
  font-weight: var(--cnvs-sys-font-weight-normal);
  color: var(--cnvs-brand-error-base);
  text-decoration: unset;
  margin-inline-start: var(--cnvs-sys-space-x1);
}

.cnvs-preview-form-field--required :where(.cnvs-preview-form-field-label) {
  display: inline;
}

.cnvs-preview-form-field--orientation-horizontal :where(.cnvs-preview-form-field-label) {
  float: left;
  max-height: var(--cnvs-sys-space-x10);
}

.cnvs-preview-form-field--orientation-vertical :where(.cnvs-preview-form-field-label) {
  width: 100%;
}


.cnvs-preview-form-field-hint {
  box-sizing: border-box;
  margin: var(--cnvs-sys-space-x2) var(--cnvs-sys-space-zero) var(--cnvs-sys-space-zero);
}

.cnvs-preview-form-field--error-error :where(.cnvs-preview-form-field-hint) {
  color: var(--cnvs-brand-error-base);
}


.cnvs-preview-form-field-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}




.cnvs-preview-form-field-hint {
  box-sizing: border-box;
  margin: var(--cnvs-sys-space-x2) var(--cnvs-sys-space-zero) var(--cnvs-sys-space-zero);
}

.cnvs-preview-form-field--error-error :where(.cnvs-preview-form-field-hint) {
  color: var(--cnvs-brand-error-base);
}


.cnvs-preview-form-field-hint {
  box-sizing: border-box;
  margin: var(--cnvs-sys-space-x2) var(--cnvs-sys-space-zero) var(--cnvs-sys-space-zero);
}

.cnvs-preview-form-field--error-error :where(.cnvs-preview-form-field-hint) {
  color: var(--cnvs-brand-error-base);
}


.cnvs-preview-form-field-hint {
  box-sizing: border-box;
  margin: var(--cnvs-sys-space-x2) var(--cnvs-sys-space-zero) var(--cnvs-sys-space-zero);
}

.cnvs-preview-form-field--error-error :where(.cnvs-preview-form-field-hint) {
  color: var(--cnvs-brand-error-base);
}


.cnvs-preview-form-field-label {
  box-sizing: border-box;
  font-family: var(--cnvs-base-font-family-50);
  font-weight: var(--cnvs-sys-font-weight-medium);
  line-height: var(--cnvs-base-line-height-100);
  font-size: var(--cnvs-base-font-size-75);
  letter-spacing: var(--cnvs-base-letter-spacing-150);
  color: var(--cnvs-sys-color-text-default);
  padding-inline-start: var(--cnvs-sys-space-zero);
  margin-bottom: var(--cnvs-sys-space-x1);
  display: flex;
  align-items: center;
  min-width: 11.25rem;
}

.cnvs-preview-form-field-label :where([data-element=asterisk]) {
  display: none;
  font-size: var(--cnvs-sys-font-size-body-large);
  font-weight: var(--cnvs-sys-font-weight-normal);
  color: var(--cnvs-brand-error-base);
  text-decoration: unset;
  margin-inline-start: var(--cnvs-sys-space-x1);
}

.cnvs-preview-form-field--required :where(.cnvs-preview-form-field-label) {
  display: inline;
}

.cnvs-preview-form-field--orientation-horizontal :where(.cnvs-preview-form-field-label) {
  float: left;
  max-height: var(--cnvs-sys-space-x10);
}

.cnvs-preview-form-field--orientation-vertical :where(.cnvs-preview-form-field-label) {
  width: 100%;
}


.cnvs-preview-form-field-hint {
  box-sizing: border-box;
  margin: var(--cnvs-sys-space-x2) var(--cnvs-sys-space-zero) var(--cnvs-sys-space-zero);
}

.cnvs-preview-form-field--error-error :where(.cnvs-preview-form-field-hint) {
  color: var(--cnvs-brand-error-base);
}


.cnvs-preview-form-field-label {
  box-sizing: border-box;
  font-family: var(--cnvs-base-font-family-50);
  font-weight: var(--cnvs-sys-font-weight-medium);
  line-height: var(--cnvs-base-line-height-100);
  font-size: var(--cnvs-base-font-size-75);
  letter-spacing: var(--cnvs-base-letter-spacing-150);
  color: var(--cnvs-sys-color-text-default);
  padding-inline-start: var(--cnvs-sys-space-zero);
  margin-bottom: var(--cnvs-sys-space-x1);
  display: flex;
  align-items: center;
  min-width: 11.25rem;
}

.cnvs-preview-form-field-label :where([data-element=asterisk]) {
  display: none;
  font-size: var(--cnvs-sys-font-size-body-large);
  font-weight: var(--cnvs-sys-font-weight-normal);
  color: var(--cnvs-brand-error-base);
  text-decoration: unset;
  margin-inline-start: var(--cnvs-sys-space-x1);
}

.cnvs-preview-form-field--required :where(.cnvs-preview-form-field-label) {
  display: inline;
}

.cnvs-preview-form-field--orientation-horizontal :where(.cnvs-preview-form-field-label) {
  float: left;
  max-height: var(--cnvs-sys-space-x10);
}

.cnvs-preview-form-field--orientation-vertical :where(.cnvs-preview-form-field-label) {
  width: 100%;
}


.cnvs-preview-form-field-label {
  box-sizing: border-box;
  font-weight: var(--cnvs-sys-font-weight-medium);
  color: var(--cnvs-sys-color-text-default);
  padding-inline-start: var(--cnvs-sys-space-zero);
  margin-bottom: var(--cnvs-sys-space-x1);
  display: flex;
  align-items: center;
  min-width: 11.25rem;
}

.cnvs-preview-form-field-label :where([data-element=asterisk]) {
  display: none;
  font-size: var(--cnvs-sys-font-size-body-large);
  font-weight: var(--cnvs-sys-font-weight-normal);
  color: var(--cnvs-brand-error-base);
  text-decoration: unset;
  margin-inline-start: var(--cnvs-sys-space-x1);
}

.cnvs-preview-form-field--required :where(.cnvs-preview-form-field-label) {
  display: inline;
}

.cnvs-preview-form-field--orientation-horizontal :where(.cnvs-preview-form-field-label) {
  float: left;
  max-height: var(--cnvs-sys-space-x10);
}

.cnvs-preview-form-field--orientation-vertical :where(.cnvs-preview-form-field-label) {
  width: 100%;
}


.cnvs-preview-form-field-label {
  box-sizing: border-box;
  font-weight: var(--cnvs-sys-font-weight-medium);
  color: var(--cnvs-sys-color-text-default);
  padding-inline-start: var(--cnvs-sys-space-zero);
  margin-bottom: var(--cnvs-sys-space-x1);
  display: flex;
  align-items: center;
  min-width: 11.25rem;
}

.cnvs-preview-form-field-label :where([data-element=asterisk]) {
  display: none;
  font-size: var(--cnvs-sys-font-size-body-large);
  font-weight: var(--cnvs-sys-font-weight-normal);
  color: var(--cnvs-brand-error-base);
  text-decoration: unset;
  margin-inline-start: var(--cnvs-sys-space-x1);
}

.cnvs-preview-form-field--required :where(.cnvs-preview-form-field-label) {
  display: inline;
}

.cnvs-preview-form-field--orientation-horizontal :where(.cnvs-preview-form-field-label) {
  float: left;
  max-height: var(--cnvs-sys-space-x10);
}

.cnvs-preview-form-field--orientation-vertical :where(.cnvs-preview-form-field-label) {
  width: 100%;
}


.cnvs-preview-form-field-label {
  box-sizing: border-box;
  font-weight: var(--cnvs-sys-font-weight-medium);
  color: var(--cnvs-sys-color-text-default);
  padding-inline-start: var(--cnvs-sys-space-zero);
  margin-bottom: var(--cnvs-sys-space-x1);
  display: flex;
  align-items: center;
  min-width: 11.25rem;
}

.cnvs-preview-form-field-label :where([data-element=asterisk]) {
  display: none;
  font-size: var(--cnvs-sys-font-size-body-large);
  font-weight: var(--cnvs-sys-font-weight-normal);
  color: var(--cnvs-brand-error-base);
  text-decoration: unset;
  margin-inline-start: var(--cnvs-sys-space-x1);
}

.cnvs-preview-form-field--required :where(.cnvs-preview-form-field-label) {
  display: inline;
}

.cnvs-preview-form-field--orientation-horizontal :where(.cnvs-preview-form-field-label) {
  float: left;
  max-height: var(--cnvs-sys-space-x10);
}

.cnvs-preview-form-field--orientation-vertical :where(.cnvs-preview-form-field-label) {
  width: 100%;
}

