@keyframes animation-160f67 {
  0%, 79%, 100% {
    opacity: 0.2;
    transform: scale(0.55);
  }
  
  27% {
    opacity: 1;
    transform: scale(1);
  }
  
  53% {
    opacity: 0.6;
    transform: scale(0.7);
  }
  
}

.cnvs-preview-loading-sparkles-icon {
  animation-duration: 1230ms;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: animation-160f67;
  animation-timing-function: ease-in-out;
}

.cnvs-preview-loading-sparkles-icon .wd-sparkle-fill {
  fill: #8C17D2;
}

.cnvs-preview-loading-sparkles-icon:nth-child(1) {
  animation-delay: 0ms;
}

.cnvs-preview-loading-sparkles-icon:nth-child(2) {
  animation-delay: calc(1230ms * (1/3));
}

.cnvs-preview-loading-sparkles-icon:nth-child(3) {
  animation-delay: calc(1230ms * (2/3));
}


.cnvs-preview-loading-sparkles {
  display: inline-flex;
  gap: 0.0625rem;
}

