.cnvs-preview-radio-group {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-radius: var(--cnvs-sys-shape-x1);
  gap: var(--cnvs-sys-space-x2);
  padding: 0.625rem var(--cnvs-sys-space-x3) var(--cnvs-sys-space-x2);
  margin: calc(var(--cnvs-sys-space-x1) * -1) calc(var(--cnvs-sys-space-x3) * -1);
  transition: 100ms box-shadow;
  width: fit-content;
}


.cnvs-preview-radio-group--error-error {
  box-shadow: inset 0 0 0 0.125rem var(--cnvs-brand-error-base);
}


.cnvs-preview-radio-group--error-alert {
  box-shadow: inset 0 0 0 0.0625rem var(--cnvs-brand-alert-darkest),inset 0 0 0 0.1875rem var(--cnvs-brand-alert-base);
}


.cnvs-preview-radio-input {
  box-sizing: border-box;
  cursor: pointer;
  height: 1.125rem;
  width: 1.125rem;
  border-radius: var(--cnvs-sys-shape-round);
  position: absolute;
  margin: var(--cnvs-sys-space-zero);
}

.cnvs-preview-radio-input:focus-visible, .cnvs-preview-radio-input.focus, .cnvs-preview-radio-input:active {
  outline: transparent;
}

.cnvs-preview-radio-input:disabled, .cnvs-preview-radio-input.disabled {
  cursor: auto;
}

.cnvs-preview-radio-input:disabled +.cnvs-radio-check, .cnvs-preview-radio-input.disabled +.cnvs-radio-check {
  border-color: var(--cnvs-sys-color-border-input-disabled);
  background-color: var(--cnvs-sys-color-bg-alt-softer);
}

.cnvs-preview-radio-input:disabled:hover+.cnvs-radio-check, .cnvs-preview-radio-input.disabled:hover+.cnvs-radio-check, .cnvs-preview-radio-input:disabled.hover+.cnvs-radio-check, .cnvs-preview-radio-input.disabled.hover+.cnvs-radio-check {
  border-color: var(--cnvs-sys-color-border-input-disabled);
}

.cnvs-preview-radio-input:disabled:checked+.cnvs-radio-check, .cnvs-preview-radio-input.disabled:checked+.cnvs-radio-check, .cnvs-preview-radio-input:disabled.checked+.cnvs-radio-check, .cnvs-preview-radio-input.disabled.checked+.cnvs-radio-check {
  background-color: var(--cnvs-brand-primary-accent);
  border: 0.3125rem solid var(--cnvs-brand-primary-base);
}

.cnvs-preview-radio-input +.cnvs-radio-check {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--cnvs-sys-color-bg-default);
  border-radius: var(--cnvs-sys-shape-round);
  box-sizing: border-box;
  border: 0.0625rem solid var(--cnvs-sys-color-border-input-default);
  height: 1.125rem;
  width: 1.125rem;
  justify-content: center;
  pointer-events: none;
  position: absolute;
  transition: border 200ms ease,background 200ms;
  opacity: var(--cnvs-sys-opacity-full);
}

.cnvs-preview-radio-input:hover+.cnvs-radio-check, .cnvs-preview-radio-input.hover+.cnvs-radio-check {
  border-color: var(--cnvs-sys-color-border-input-strong);
}

.cnvs-preview-radio-input:focus-visible+.cnvs-radio-check, .cnvs-preview-radio-input.focus+.cnvs-radio-check {
  border-color: var(--cnvs-sys-color-border-primary-default);
  box-shadow: 0 0 0 0px var(--cnvs-sys-color-border-inverse),0 0 0 1px var(--cnvs-brand-common-focus-outline);
}

.cnvs-preview-radio-input:focus-visible:hover+.cnvs-radio-check, .cnvs-preview-radio-input.focus:hover+.cnvs-radio-check {
  outline: transparent;
}

.cnvs-preview-radio-input:checked+.cnvs-radio-check, .cnvs-preview-radio-input.checked+.cnvs-radio-check {
  background-color: var(--cnvs-brand-primary-accent);
  border: 0.3125rem solid var(--cnvs-brand-primary-base);
}

.cnvs-preview-radio-input:focus-visible:checked+.cnvs-radio-check, .cnvs-preview-radio-input:focus-visible:hover:checked+.cnvs-radio-check, .cnvs-preview-radio-input.focus:checked+.cnvs-radio-check, .cnvs-preview-radio-input.focus:hover:checked+.cnvs-radio-check {
  outline: transparent;
  box-shadow: 0 0 0 2px var(--cnvs-sys-color-border-inverse),0 0 0 4px var(--cnvs-brand-common-focus-outline);
}


.cnvs-preview-radio-input--variant-inverse +.cnvs-radio-check {
  background-color: var(--cnvs-sys-color-bg-alt-softer);
  border-color: var(--cnvs-sys-color-border-input-inverse);
}

.cnvs-preview-radio-input--variant-inverse:disabled, .cnvs-preview-radio-input--variant-inverse.disabled {
  opacity: var(--cnvs-sys-opacity-disabled);
}

.cnvs-preview-radio-input--variant-inverse:disabled +.cnvs-radio-check, .cnvs-preview-radio-input--variant-inverse.disabled +.cnvs-radio-check {
  background-color: var(--cnvs-sys-color-bg-alt-softer);
  border-color: var(--cnvs-sys-color-border-input-disabled);
  opacity: var(--cnvs-sys-opacity-disabled);
}

.cnvs-preview-radio-input--variant-inverse:disabled:checked+.cnvs-radio-check, .cnvs-preview-radio-input--variant-inverse.disabled:checked+.cnvs-radio-check, .cnvs-preview-radio-input--variant-inverse:disabled.checked+.cnvs-radio-check, .cnvs-preview-radio-input--variant-inverse.disabled.checked+.cnvs-radio-check {
  background-color: var(--cnvs-brand-primary-base);
  border-color: var(--cnvs-sys-color-border-inverse);
}

.cnvs-preview-radio-input--variant-inverse:hover+.cnvs-radio-check, .cnvs-preview-radio-input--variant-inverse.hover+.cnvs-radio-check {
  border-color: var(--cnvs-sys-color-border-input-inverse);
}

.cnvs-preview-radio-input--variant-inverse:focus-visible+.cnvs-radio-check, .cnvs-preview-radio-input--variant-inverse.focus+.cnvs-radio-check {
  border-color: var(--cnvs-sys-color-border-input-inverse);
}

.cnvs-preview-radio-input--variant-inverse:checked+.cnvs-radio-check, .cnvs-preview-radio-input--variant-inverse.checked+.cnvs-radio-check {
  background-color: var(--cnvs-brand-primary-base);
  border-color: var(--cnvs-sys-color-border-inverse);
}

.cnvs-preview-radio-input--variant-inverse:focus-visible+.cnvs-radio-check, .cnvs-preview-radio-input--variant-inverse:focus-visible:hover+.cnvs-radio-check, .cnvs-preview-radio-input--variant-inverse.focus+.cnvs-radio-check, .cnvs-preview-radio-input--variant-inverse.focus:hover+.cnvs-radio-check {
  box-shadow: 0 0 0 0px var(--cnvs-sys-color-border-contrast-default),0 0 0 2px var(--cnvs-sys-color-border-inverse);
}

.cnvs-preview-radio-input--variant-inverse:focus-visible:checked+.cnvs-radio-check, .cnvs-preview-radio-input--variant-inverse:focus-visible:hover:checked+.cnvs-radio-check, .cnvs-preview-radio-input--variant-inverse.focus:checked+.cnvs-radio-check, .cnvs-preview-radio-input--variant-inverse.focus:hover:checked+.cnvs-radio-check {
  box-shadow: 0 0 0 2px var(--cnvs-sys-color-border-contrast-default),0 0 0 4px var(--cnvs-sys-color-border-inverse);
}


.cnvs-preview-radio-input-wrapper-styles {
  box-sizing: border-box;
  height: 1.125rem;
  width: 1.125rem;
  flex: 0 0 auto;
}

.cnvs-preview-radio-input-wrapper-styles ::before {
  content: '';
  position: absolute;
  border-radius: var(--cnvs-sys-shape-round);
  height: 1.125rem;
  transition: box-shadow 150ms ease-out;
  width: 1.125rem;
  pointer-events: none;
  opacity: var(--cnvs-sys-opacity-full);
}

.cnvs-preview-radio-input-wrapper-styles:hover:before, .cnvs-preview-radio-input-wrapper-styles.hover:before {
  box-shadow: 0 0 0 calc(var(--cnvs-sys-space-x2) - 0.0625rem) var(--cnvs-sys-color-bg-alt-soft);
}


.cnvs-preview-radio-input-wrapper-styles--variant-inverse ::before {
  opacity: var(--cnvs-sys-opacity-disabled);
}


.cnvs-preview-radio-input-wrapper-styles--disabled:hover:before, .cnvs-preview-radio-input-wrapper-styles--disabled.hover:before {
  box-shadow: none;
  cursor: auto;
}


.cnvs-preview-radio-label {
  box-sizing: border-box;
  align-items: flex-start;
  min-height: var(--cnvs-sys-space-x6);
  position: relative;
  gap: var(--cnvs-sys-space-x3);
}


.cnvs-preview-radio-text {
  box-sizing: border-box;
  cursor: pointer;
}


.cnvs-preview-radio-text--variant-inverse {
  color: var(--cnvs-sys-color-text-inverse);
}


.cnvs-preview-radio-text--disabled {
  cursor: default;
  color: var(--cnvs-sys-color-text-disabled);
}


.cnvs-preview-radio-text.cnvs-preview-radio-text--variant-inverse.cnvs-preview-radio-text--disabled {
  color: var(--cnvs-sys-color-text-inverse);
  opacity: var(--cnvs-sys-opacity-disabled);
}

