.cnvs-preview-status-indicator {
  box-sizing: border-box;
  display: inline-flex;
  gap: var(--cnvs-sys-space-x1);
  max-width: 12.5rem;
  align-items: center;
  border-radius: var(--cnvs-sys-shape-half);
  height: 1.25rem;
  padding: var(--cnvs-sys-space-zero) var(--cnvs-sys-space-x1);
}


.cnvs-preview-status-indicator--gray-high {
  color: var(--cnvs-sys-color-static-white);
  --cnvs-system-icon-color: var(--cnvs-sys-color-static-white);
  background: var(--cnvs-sys-color-static-gray-default);
}


.cnvs-preview-status-indicator--gray-low {
  color: var(--cnvs-sys-color-static-gray-strong);
  --cnvs-system-icon-color: var(--cnvs-sys-color-static-gray-strong);
  background: var(--cnvs-sys-color-static-gray-soft);
}


.cnvs-preview-status-indicator--orange-high {
  color: var(--cnvs-sys-color-static-gray-stronger);
  --cnvs-system-icon-color: var(--cnvs-sys-color-static-gray-stronger);
  background: var(--cnvs-sys-color-static-orange-default);
}


.cnvs-preview-status-indicator--orange-low {
  color: var(--cnvs-sys-color-static-gold-stronger);
  --cnvs-system-icon-color: var(--cnvs-sys-color-static-gold-stronger);
  background: var(--cnvs-sys-color-static-orange-soft);
}


.cnvs-preview-status-indicator--blue-high {
  color: var(--cnvs-sys-color-static-white);
  --cnvs-system-icon-color: var(--cnvs-sys-color-static-white);
  background: var(--cnvs-sys-color-static-blue-default);
}


.cnvs-preview-status-indicator--blue-low {
  color: var(--cnvs-sys-color-static-blue-strong);
  --cnvs-system-icon-color: var(--cnvs-sys-color-static-blue-strong);
  background: var(--cnvs-sys-color-static-blue-soft);
}


.cnvs-preview-status-indicator--green-high {
  color: var(--cnvs-sys-color-static-white);
  --cnvs-system-icon-color: var(--cnvs-sys-color-static-white);
  background: var(--cnvs-sys-color-static-green-strong);
}


.cnvs-preview-status-indicator--green-low {
  color: var(--cnvs-sys-color-static-green-strong);
  --cnvs-system-icon-color: var(--cnvs-sys-color-static-green-strong);
  background: var(--cnvs-sys-color-static-green-soft);
}


.cnvs-preview-status-indicator--red-high {
  color: var(--cnvs-sys-color-static-white);
  --cnvs-system-icon-color: var(--cnvs-sys-color-static-white);
  background: var(--cnvs-sys-color-static-red-default);
}


.cnvs-preview-status-indicator--red-low {
  color: var(--cnvs-sys-color-static-red-strong);
  --cnvs-system-icon-color: var(--cnvs-sys-color-static-red-strong);
  background: var(--cnvs-sys-color-static-red-soft);
}


.cnvs-preview-status-indicator--transparent-high {
  color: var(--cnvs-sys-color-static-white);
  --cnvs-system-icon-color: var(--cnvs-sys-color-static-white);
  background: var(--cnvs-sys-color-bg-translucent);
}


.cnvs-preview-status-indicator--transparent-low {
  color: var(--cnvs-sys-color-static-white);
  --cnvs-system-icon-color: var(--cnvs-sys-color-static-white);
  background: var(--cnvs-sys-color-bg-translucent);
}


.cnvs-preview-status-indicator-label {
  box-sizing: border-box;
  font-weight: var(--cnvs-sys-font-weight-bold);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
  color: inherit;
}

