@import '~@workday/canvas-kit-css-core/lib/mixins';
@import '~@workday/canvas-kit-css-core/lib/variables';
@import '~@workday/canvas-kit-css-button/index.scss';
@import '~@workday/canvas-kit-css-card/index.scss';
@import './lib/animation.scss';
@import './lib/popup.scss';
