@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(/Roboto-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'),
    url(/Roboto-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(/Roboto-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(/Roboto-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono'), local('RobotoMono-Regular'),
    url(/RobotoMono-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Sana Sans LCG 05 VF';
  font-style: normal;
  font-weight: 100 700;
  src:
    local('Sana Sans LCG 05 VF'),
    local('SanaSansLCG05VF-Regular'),
    url(/SanaSansLCG05-Variable.ttf) format('truetype');
}

@font-face {
  font-family: 'Sana Sans LCG 05 VF';
  font-style: italic;
  font-weight: 100 700;
  src:
    local('Sana Sans LCG 05 VF'),
    local('SanaSansLCG05VF-Regular'),
    url(/SanaSansLCG05-Variable.ttf) format('truetype');
}

[data-theme='canvas'] {
  --cnvs-sys-font-family-default: 'Roboto', sans-serif;
}

[data-theme='sana-canvas'] {
  --cnvs-sys-font-family-default: 'Sana Sans LCG 05 VF', sans-serif;
}
