@font-face {
  font-family: 'Sana Sans LCG 05 VF';
  font-style: normal;
  font-weight: 100 700;
  src:
    local('Sana Sans LCG 05 VF'),
    local('SanaSansLCG05VF-Regular'),
    url(/SanaSansLCG05-Variable.ttf) format('truetype');
}

@font-face {
  font-family: 'Sana Sans LCG 05 VF';
  font-style: italic;
  font-weight: 100 700;
  src:
    local('Sana Sans LCG 05 VF'),
    local('SanaSansLCG05VF-Regular'),
    url(/SanaSansLCG05-Variable.ttf) format('truetype');
}

/* TODO: Remove this when type tokens are updated */
[data-theme='canvas'] {
  --cnvs-sys-font-family-default: 'Roboto', sans-serif;
}

[data-theme='sana-canvas'] {
  --cnvs-sys-font-family-default: 'Sana Sans LCG 05 VF', sans-serif;
}
