name: 'forward-merge'
on:
  workflow_dispatch:
  push:
    branches:
      - support
      - master
      - prerelease/minor

jobs:
  verify-merge:
    runs-on: ubuntu-latest

    steps:

      ## First, we'll checkout the repository. We don't persist credentials because we need a
      ## Personal Access Token to push on a branch that is protected. See
      ## https://github.com/cycjimmy/semantic-release-action#basic-usage
      - uses: actions/checkout@v2
        with:
          persist-credentials: false
          fetch-depth: 0 # Needed to do merges

      ## `github.ref` is in the form of `refs/head/{name}`. This step extracts `{name}` and saves it
      ## as an output for later use
      - name: Extract branch name
        id: extract-branch
        run: echo "::set-output name=branch::$(echo ${GITHUB_REF#refs/heads/})"

      - run: echo ${{steps.extract-branch.outputs.branch}}

      - name: Extract next branch name
        id: extract-next-branch
        run: echo "::set-output name=branch::$(node utils/get-forward-merge-branch.js)"

      - run: echo ${{steps.extract-next-branch.outputs.branch}}

      ## This step installs node and sets up several matchers (regex matching for Github
      ## Annotations). See
      ## https://github.com/actions/setup-node/blob/25316bbc1f10ac9d8798711f44914b1cf3c4e954/src/main.ts#L58-L65
      - uses: actions/setup-node@v2.4.0
        with:
          node-version: 14.x
          registry-url: https://registry.npmjs.org

      - name: Get Cypress Version
        id: cypress-version
        run: echo "::set-output name=version::$(node utils/get-cypress-version.js)"

      ## The caching steps create a cache key based on the OS and hash of the yarn.lock file. A
      ## cache hit will copy files from Github cache into the `node_modules` and `.cache/cypress`
      ## folders. A cache hit will skip the cache steps
      - name: Cache node modules
        id: yarn-cache
        uses: actions/cache@v2
        with:
          path: node_modules
          key: ${{ runner.os }}-temp-node-modules-hash-${{ hashFiles('yarn.lock') }}

      - name: Cache Cypress
        id: cypress-cache
        uses: actions/cache/@v2
        with:
          path: .cache/cypress
          key: ${{ runner.os }}-temp-cypress-cache-version-${{ steps.cypress-version.outputs.version }}

      ## If both `node_modules` and `.cache/cypress` were cache hits, we're going to skip the `yarn
      ## install` step. This effectively saves up to 3m on a cache hit build.
      - name: Install Packages
        if:
          steps.yarn-cache.outputs.cache-hit != 'true' || steps.cypress-cache.outputs.cache-hit !=
          'true'
        run: yarn install --production=false
        env:
          CYPRESS_CACHE_FOLDER: .cache/cypress

      ## A `yarn bump` will create a commit and a tag. We need to set up the git user to do this.
      ## We'll make that user be the github-actions user.
      - name: Config git user
        run: |
          git config --global user.name "${{ github.actor }}"
          git config --global user.email "${{ github.actor }}@users.noreply.github.com"
          git config --global pull.rebase false

      ## Create a merge branch
      - name: Forward merge
        run: node utils/forward-merge.js

      # # Keep steps separate for Github Actions annotation matching: https://github.com/actions/setup-node/blob/83c9f7a7df54d6b57455f7c57ac414f2ae5fb8de/src/setup-node.ts#L26-L33
      # - name: Lint
      #   run: yarn lint

      # - name: Dependency Check
      #   run: yarn depcheck

      # - name: Type Check
      #   run: yarn typecheck

      # - name: Unit tests
      #   run: yarn test

      - name: Build Storybook
        run: echo "hello"
        # run: yarn build-storybook --quiet

      - name: Cache Build
        id: build-cache
        uses: actions/cache/@v2
        with:
          path: docs
          key: ${{ runner.os }}-temp-build-${{ github.sha }}

      - name: Visual Tests
        run: echo "Visual Tests"
      #   uses: chromaui/action@v1
      #   with:
      #     token: ${{ secrets.GITHUB_TOKEN }}
      #     appCode: dlpro96xybh
      #     storybookBuildDir: docs
      #     exitOnceUploaded: false
      #     exitZeroOnChanges: true

      - name: Start Server
        run: echo "Start Server"
        # run: npx http-server docs -p 9001 & npx wait-on http://localhost:9001

      # - name: Integration tests
      #   run: yarn cypress run --record --parallel
      #   env:
      #     # Github Actions doesn't support encryption on forks
      #     # If these keys become compromised, we will rotate and disable these features
      #     # on forked PRs until a suitable workaround is found
      #     CYPRESS_RECORD_KEY: 3a9347b6-36ab-4a36-823d-709f4078b148
      #     CYPRESS_CACHE_FOLDER: .cache/cypress

      ## Push both the commit and tag created by Lerna's version command using a PAT
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: refs/heads/${{ steps.extract-next-branch.outputs.branch }}

  make-pull-request:
    runs-on: ubuntu-latest
    if: failure()
    needs: ['verify-merge']
    steps:
      ## If we've failed any previous step, we'll need to create a PR instead
      - uses: NicholasBoll/action-forward-merge-pr@main
        with:
          token: ${{secrets.GITHUB_TOKEN}} # use PAT to force GH Actions to run the PR verify. The regular token will not
          branches: support+master,master+prerelease/minor,prerelease/minor+prerelease/major
          prefix: 'chore: '

