name: Reusable Release Publish

on:
  workflow_call:
    inputs:
      version:
        required: false
        type: string
        description: 'The version override. Example: "8.1.2". Leave blank if you want conventional commits to decide which version'
        default: 'patch'
      branch:
        required: true
        type: string
        description: 'The branch being published (master or support)'
      to_ref:
        required: false
        type: string
        description: 'Git ref that marks the end of changelog generation comparison to overwrite default value. Tag, SHA, or branch'
        default: ''
    secrets:
      GH_RW_TOKEN:
        required: true
      GITHUB_TOKEN:
        required: true
      CHROMATIC_APP_CODE:
        required: true
      SLACK_WEBHOOK:
        required: false

permissions:
  id-token: write # Required for OIDC
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      ## First, we'll checkout the repository. We don't persist credentials because we need a
      ## Personal Access Token to push on a branch that is protected. See
      ## https://github.com/cycjimmy/semantic-release-action#basic-usage
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
          fetch-depth: 0 # Used for conventional commit ranges

      - uses: Workday/canvas-kit-actions/install@v1
        with:
          node_version: 22.x

      - name: Clear auth token for OIDC
        run: echo "NODE_AUTH_TOKEN=" >> $GITHUB_ENV

      - name: Upgrade npm for OIDC
        run: npm install -g npm@latest

      - name: Configure npm registry
        run: npm config set registry https://registry.npmjs.org/

      - uses: Workday/canvas-kit-actions/release@v1
        with:
          gh_token: ${{ secrets.GITHUB_TOKEN }}
          gh_rw_token: ${{ secrets.GH_RW_TOKEN }}
          chromatic_project_token: ${{ secrets.CHROMATIC_APP_CODE }}
          version: ${{ inputs.version }}
          toRef: ${{ inputs.to_ref }}

      - uses: Workday/canvas-kit-actions/report-failure@v1
        if: failure()
        with:
          slackWebhook: ${{ secrets.SLACK_WEBHOOK }}
          slackMessage: |
            Release job failed. Please check error logs.
